
email_validator==2.2.0
fastapi==0.115.2
fastapi-cli==0.0.5


mysql-connector-python==9.1.0

numpy==2.1.1
pandas==2.2.3

pillow==10.4.0

psutil==6.0.0

pydantic==2.9.2
pydantic_core==2.23.4

python-multipart==0.0.12
pytz==2024.2
PyYAML==6.0.2


SQLAlchemy==2.0.36

tortoise==0.1.1
tortoise-orm==0.21.7

uvicorn==0.32.0
asyncpg